body {
    font-family: 'Arial', sans-serif;
    background: #121212;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(135deg, #ff8a00, #e52e71);
    color: white;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.1);
}

#name-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.name-item {
    padding: 15px;
    background: #333;
    border-radius: 8px;
    font-size: 1.5rem;
    width: fit-content;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

/* Стили для блока рекламы */
#yandex_rtb_R-A-13588930-1 {
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    background: #222;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}
